* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.header {
  min-height: 110vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  position: relative;
}

.background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.background img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
  /* Tạo hiệu ứng mờ */
}

/* CSS cho thanh tìm kiếm */
.search-container {
  position: relative;
}

.search-bar {
  width: 70%;
  max-width: 1300px;
  padding: 10px 40px 10px 20px;
  border: 4px solid rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  outline: none;
  background: transparent;
  position: relative;
  z-index: 1;
  color: #000;
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
}

.search-bar:focus {
  box-shadow: 0 0 15px rgba(81, 203, 238, 1);
}

.search-bar::before,
.search-bar::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 25px;
  background: linear-gradient(45deg, transparent, rgba(81, 203, 238, 0.5), transparent);
  z-index: -1;
  animation: glow 2s linear infinite;
}

.search-bar::after {
  filter: blur(5px);
}

@keyframes glow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.content {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.highlight {
  background-color: lightblue;
}


/*-------------- Homepage --------------*/
.africa-header {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #000000;
  border-radius: 0% 0% 2.5% 2.5%;
}

#logo {
  width: 120px;
  height: 150px;
}

/* Update header */
.phenikaatravel-header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-logo-container {
  position: relative;
  text-align: center;
}

.navbar-brand {
  text-align: center;
  flex-grow: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
}

.navbar-brand span {
  display: inline-block;
  animation: fadeIn 0.5s ease forwards;
  font-size: 40px;
}

.logo-image {
  width: 50px;
  height: auto;
  vertical-align: middle;
}

.phenikaa {
  color: rgb(14, 14, 138);
}

.travel {
  color: rgb(255, 149, 0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.register-section {
  margin-right: 20px;
}

.register-link {

  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border: 3px solid rgb(255, 149, 0);
  border-radius: 5px;
}

.register-link {
  display: flex;
  align-items: center;
}

.icon-tuvan {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.register-link:hover {
  background-color: white;
  color: rgb(255, 149, 0);
  transition: all 0.3s ease;
}

.logo {
  height: 80px;
}


/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 60px;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  border-radius: 12px;
  border: 1px solid #ccc;
  width: 60%;

  max-width: 900px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 20px;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
}

.modal-content .form-section {
  margin-bottom: 15px;
}

.modal-content .form-section label {
  margin-bottom: 8px;
  display: block;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.modal-content .form-section input,
.modal-content .form-section textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin-top: 5px;
}

.modal-content .form-section input[type="radio"] {
  width: auto;
  margin-right: 10px;
}

.modal-content .register-btn {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.modal-content .register-btn:hover {
  background-color: #45a049;
}

.modal-content .image-section {
  width: 90%;
  background-size: cover;
  background-position: center;
  border-radius: 0 12px 12px 0;
  height: auto;
}

#registerModal .modal-content {
  max-width: 800px;
}

#successModal .success-content {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  background-color: #f9fff9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#successModal .success-content .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #007BFF;
  cursor: pointer;
}

#successModal .success-content .close:hover,
#successModal .success-content .close:focus {
  color: #0056b3;
}

.success-content h2 {
  font-family: 'Arial', sans-serif;
  color: #007BFF;
  font-size: 24px;
  margin-bottom: 15px;
}

.success-content p {
  font-family: 'Arial', sans-serif;
  color: #555;
  font-size: 15px;
  margin-top: 20px;
}

.success-image {
  margin-top: 20px;
  width: 200%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#infoModal .modal-content {
  background-color: #e6f2ff;
  border: 2px solid #007BFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.member-info {
  text-align: center;
  width: 30%;
  margin: 10px;
}

.member-info img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.member-info h3 {
  margin-top: 10px;
  font-size: 18px;
}

.member-info p {
  font-size: 10px;
  color: #555;
}


nav {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
  transition: color 0.3s;
}

nav a:hover {
  color: #0056b3;
}

#logo img {
  height: 50px;
}

/* Navigation bar styles */
.navigation-links {
  flex-grow: 1;
  text-align: center;
  background: white;
  padding: 11px 0;
}

.navigation-links ul {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-links ul li {
  margin: 0 15px;
}

.navigation-links ul li a {
  text-decoration: none;
  color: #000000;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

.navigation-links ul li a:hover {
  color: #ff7f50;
}

@media only screen and (max-width: 768px) {
  .navigation-links ul {
    flex-direction: column;
    align-items: center;
  }

  .navigation-links ul li {
    margin: 10px 0;
  }
}

/* Adjustments for even smaller screens */
@media only screen and (max-width: 480px) {
  .navigation-links ul {
    flex-direction: column;
  }

  .navigation-links ul li {
    margin: 5px 0;
  }

  .navigation-links ul li a {
    padding: 5px 10px;
  }

  .homepage-text h1 {
    font-size: 35px;
  }

  .homepage-text p {
    font-size: 16px;
  }

  .homepage-btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}

/*Update header*/

.africa-header {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #000000;
  border-radius: 0% 0% 2.5% 2.5%;
}

.africa-header h1 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Playfair Display SC", serif;
}

.africa-header h2 {
  font-family: "Dancing Script", cursive;
  font-size: 120px;
  margin-top: 150px;
  color: #333;
  /* Thay đổi màu chữ */
}

.africa {
  width: 85%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.africa-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.africa-col {
  text-align: justify;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  width: 100%;
  /* Adjusted to full width */
  margin: 0 auto;
  /* Center align */
}

.africa-col h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.africa-col p {
  font-size: 18px;
  line-height: 1.6;
}

.africa-col b {
  color: #0056b3;
}

.africa-col i {
  color: crimson;
}

.africa-btn {
  display: block;
  text-align: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
}

.africa-btn:hover {
  background-color: #0056b3;
}

.content {
  display: flex;
  width: 100%;
  min-width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  margin: 0 10px;
}

.content::before,
.content::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  background-color: #f9f9f9;
  z-index: -1;
}

.content::before {
  left: -10px;
  transform: skewY(-4deg);
  border-radius: 5px 0 0 5px;
}

.content::after {
  right: -10px;
  transform: skewY(4deg);
  border-radius: 0 5px 5px 0;
}


.contents {
  flex: 1 1 65%;
  margin-right: 25px;
  margin-top: 45px;
}

.images {
  flex: 1 1 25%;
  display: flex;
  flex-direction: column;
}

.map {
  flex: 1 1 30%;
  margin-right: 40px;
  /* Thêm khoảng cách giữa map và video */
}

.video {
  flex: 1 1 55%;
}

.map p,
.video p {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 0;
}

.map p {
  padding-bottom: 100%;
  /* Đảm bảo hình vuông cho bản đồ */
}

.video p {
  padding-bottom: 56.25%;
  /* 16:9 ratio cho video */
}

.map iframe,
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 10px;
}


.image-row {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
}

.image-container {
  position: relative;
  width: 370px;
  height: 350px;
  border-radius: 35px;
  overflow: hidden;
  margin-bottom: 70px;
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 35px;
  margin: 5px;
}

.image-container figcaption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1em;
}

.image-container.staggered {
  margin-top: 40px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}


.africa-btn {
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  padding: 12px 34px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.africa-btn:hover {
  border: 1px solid #42f548;
  background: #42f548;
  transition: 0.6s;
}

.africa hr {
  width: 80%;
  margin: auto;
  border: 2px solid #000000;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.africa iframe {
  border: 2px solid #000000;
  margin: 0 auto;
  display: block;
}


/*---- Footer ----*/
.footer {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 40px 0;
}

.footer .copyright {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: #61656b;
}

.footer h4 {
  text-align: center;
}

.scroll-up {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
}

@media only screen and (max-width: 700px) {
  .scroll-up {
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
  }
}

/*---- Footer ----*/



/*New*/
.navigation-links ul li a:hover {
  color: #ff7f50;
  transition: color 0.3s ease;
}

/* Scroll-to-Top Button Animation */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.scroll-to-top.active {
  opacity: 1;
}