.header {
  position: relative;
}

.background {
  position: relative;
  width: 100%;
  height: 130vh;
  overflow: hidden;
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.advert {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10vh;
  margin: 0 auto;
  margin-bottom: 10vh;
  width: 50%;
}

.miniadvert {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10vh;
  margin: 0 auto;
  margin-bottom: 10vh;
  width: 50%;
}

.miniadvert img {
  margin: 0 5px;
  width: auto;
  height: 205px;
}

.advert img {
  margin: 0 5px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.phenikaatravel-header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-logo-container {
  position: relative;
  text-align: center;
}

.navbar-brand {
  text-align: center;
  flex-grow: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
}

.navbar-brand span {
  display: inline-block;
  animation: fadeIn 0.5s ease forwards;
  font-size: 40px;
}

.logo-image {
  width: 50px;
  height: auto;
  vertical-align: middle;
}

.phenikaa {
  color: rgb(14, 14, 138);
}

.travel {
  color: rgb(255, 149, 0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.register-section {
  margin-right: 20px;
}

.register-link {

  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border: 3px solid rgb(255, 149, 0);
  border-radius: 5px;
}

.register-link {
  display: flex;
  align-items: center;
}

.icon-tuvan {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.register-link:hover {
  background-color: white;
  color: rgb(255, 149, 0);
  transition: all 0.3s ease;
}



#successModal .success-content {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  background-color: #f9fff9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#successModal .success-content .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #007BFF;
  cursor: pointer;
}

#successModal .success-content .close:hover,
#successModal .success-content .close:focus {
  color: #0056b3;
}

.success-content h2 {
  font-family: 'Arial', sans-serif;
  color: #007BFF;
  font-size: 24px;
  margin-bottom: 15px;
}

.success-content p {
  font-family: 'Arial', sans-serif;
  color: #555;
  font-size: 15px;
  margin-top: 20px;
}

.success-image {
  margin-top: 20px;
  width: 200%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.logo {
  height: 80px;
}

.booking-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 1000px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 10;
}

.booking-header {
  margin-bottom: 15px;
}

.booking-title {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: #333;
}

.search {
  font-family: 'Times New Roman', Times, serif;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.booking-section {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.booking-header .booking-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: black;
}

.search-content-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.search-content-item {
  background-color: lightblue;
  flex: 1 1 calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.search-content-item:hover {
  transform: translateY(-10px);
}

.search-content-item label {
  font-weight: bold;
  margin-bottom: 8px;
  color: black;
}

.search-content-item select,
.search-button {
  width: 100%;
  border: none;
  padding: 15px;
  border-radius: 10px;
  margin-top: 15px;
  font-size: 1.1em;
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-content-item select:hover,
.search-button:hover {
  background-color: #0056b3;
}

.search-content-item input[type="text"],
.search-content-item input[type="date"] {
  width: 90%;
  border: none;
  padding: 14px 20px;
  border-radius: 10px;
  font-size: 1.1em;
  background: #e6e6e6;
  margin-top: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.return-check-container {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  align-items: center;
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #fff;
  cursor: pointer;
}

.return-check-container label {
  margin-right: 10px;
}

.return-check-container input[type="checkbox"] {
  transform: scale(1.2);
  cursor: pointer;
}

.autobox {
  top: 100%;
  background-color: #fff;
  width: 100%;
  overflow-y: auto;
  border-radius: 10px;
  max-height: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.autobox li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.autobox li:hover {
  background-color: #f1f1f1;
}

.autobox.active li {
  display: block;
}

.flight-deals {
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.hotel-deals {
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.ticket-deals {
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.car-deals {
  margin: 20px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

.flight-deals h2 {
  text-align: left;
  margin-left: 140px;
  color: #2b92ff;
}

.hotel-deals h2 {
  text-align: left;
  margin-left: 140px;
  color: #004ea1;
}


.ticket-deals h2 {
  text-align: left;
  margin-left: 140px;
  color: #d45785;
}

.car-deals h2 {
  text-align: left;
  margin-left: 140px;
  color: #238a38;
}



.deals-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.deals-container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding: 10px 0;
  scroll-behavior: smooth;
  max-width: 1200px;
}

.deal-item {
  min-width: 100px;
  max-width: 185px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  text-align: center;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.deal-item.large {
  min-width: 150px;
  max-width: 200px;
  height: 270px;
}

.deal-item img {
  width: 100%;
  height: auto;
  display: block;
}

.deal-info {
  padding: 10px;
  flex-grow: 1;
}

.deal-info p {
  margin: 5px 0;
  font-size: 0.8em;
  color: #333;
}

.ticketdeal-info p {
  margin: 5px 0;
  font-size: 0.8em;
  color: #d45785;
}


.ticketdeal-info del {
  margin: 5px 0;
  font-size: 1em;
  color: #000000;
}


.deal-item a {
  text-decoration: none;
  color: inherit;
}

.deal-item a:hover {
  color: #007bff;
}

.flight-deals button {
  background-color: #2b92ff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9em;
}

.hotel-deals button {
  background-color: #004ea1;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9em;
}

.ticket-deals button {
  background-color: #ff84a5;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9em;
}

.car-deals button {
  background-color: #238a38;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9em;
}

/* .flight-deals button:hover {
  background-color: #0056b3;
} */

/* Modal Styles */
.modal {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  /* Mặc định ẩn Modal Register */
  background-color: rgba(0, 0, 0, 0.5);
  /* Làm tối nền khi Modal Register mở */
}



.modal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  background-color: white;
  border-radius: 8px;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modal-content .close:hover,
.modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-section {
  margin-bottom: 15px;
}

.gender-options {
  display: flex;
  align-items: center;
}

.gender-options label {
  margin-right: 20px;
}

.form-section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-section input,
.form-section textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.register-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-btn:hover {
  background-color: #0056b3;
}


.Counseling {
  text-align: center;
  position: relative;
}

.Counseling img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.Counseling h1 {
  position: absolute;
  top: 20%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-weight: bold;
  color: #fff;
  text-align: left;
  font-family: Arial, sans-serif;
}

.email {
  position: absolute;
  top: 35%;
  left: 33%;
  display: flex;
  align-items: center;
}

.email label {
  font-size: 20px;
  color: #888;
  margin-right: 10px;
}

#input {
  width: 480px;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
}

#signup {
  height: 40px;
  margin-left: 10px;
  padding: 0 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: rgb(255, 136, 0);
  border: none;
  cursor: pointer;
}

.Counseling p {
  position: absolute;
  top: 60%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  text-align: left;
  font-family: Arial, sans-serif;
}






/*---- Footer ----*/
.footer {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 40px 0;
}

.footer .copyright {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: #61656b;
}

.footer h4 {
  text-align: center;
}

.scroll-up {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
}

@media only screen and (max-width: 700px) {
  .scroll-up {
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
  }
}

/*---- Footer ----*/