* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.header {
  min-height: 110vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  position: relative;
}

.background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.background img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
  /* Tạo hiệu ứng mờ */
}

/* CSS cho thanh tìm kiếm */
.search-container {
  position: relative;
}

.search-bar {
  width: 100%;
  max-width: 1300px;
  padding: 10px 40px 10px 20px;
  border: 2px solid rgba(81, 203, 238, 0.8);
  border-radius: 25px;
  outline: none;
  background: transparent;
  position: relative;
  z-index: 1;
  color: #000;
  font-size: 16px;
  margin-top: 30px;
  text-align: center;
}

.search-bar:focus {
  box-shadow: 0 0 15px rgba(81, 203, 238, 1);
}

.search-bar::before,
.search-bar::after {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: 25px;
  background: linear-gradient(45deg, transparent, rgba(81, 203, 238, 0.5), transparent);
  z-index: -1;
  animation: glow 2s linear infinite;
}

.search-bar::after {
  filter: blur(5px);
}

@keyframes glow {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.content {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.highlight {
  background-color: lightblue;
}


/*-------------- Homepage --------------*/
.europe-header {
  height: 100vh;
  width: 100%;
  border-radius: 0% 0% 2.5% 2.5%;
}

#logo {
  width: 120px;
  height: 150px;
}

/* Update header */
.phenikaatravel-header {
  background:
    /* Hình ảnh nền */
    url('/images/Home/HBG.png') center center/cover no-repeat,
    /* Gradient mờ */
    linear-gradient(to bottom, rgba(0, 163, 224, 0.8) 0%, rgba(0, 163, 224, 0) 100%);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97.9%;
  height: 70px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navbar-brand {
  text-align: center;
  flex-grow: 1;
}

.navbar-brand a {
  color: white;
  text-decoration: none;
  display: block;
}


/* animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-brand span {
  display: inline-block;
  animation: fadeIn 0.5s ease forwards;
  background-image: white;
  -webkit-background-clip: text;
  background-clip: text;
}

/* animation */



.register-section {
  margin-right: 50px;
}

.register-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border: 2px solid white;
  border-radius: 5px;
}

.register-link:hover {
  background-color: white;
  color: #00A3E0;
  transition: all 0.3s ease;
}


.icon-tuvan {
  width: 24px;
  /* Adjust the size as needed */
  height: 24px;
  /* Adjust the size as needed */
  margin-right: 8px;
}

.register-link:hover {
  background-color: white;
  color: #00A3E0;
  transition: all 0.3s ease;
}

.logo {
  height: 80px;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 60px;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  border-radius: 12px;
  border: 1px solid #ccc;
  width: 60%;

  max-width: 900px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 20px;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
}

.modal-content .form-section {
  margin-bottom: 15px;
}

.modal-content .form-section label {
  margin-bottom: 8px;
  display: block;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.modal-content .form-section input,
.modal-content .form-section textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin-top: 5px;
}

.modal-content .form-section input[type="radio"] {
  width: auto;
  margin-right: 10px;
}

.modal-content .register-btn {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.modal-content .register-btn:hover {
  background-color: #45a049;
}

.modal-content .image-section {
  width: 90%;
  background-size: cover;
  background-position: center;
  border-radius: 0 12px 12px 0;
  height: auto;
}

#registerModal .modal-content {
  max-width: 800px;
}

#successModal .modal-content {
  text-align: center;
  background-color: #e6ffe6;
  border: 2px solid #4CAF50;
}

#infoModal .modal-content {
  background-color: #e6f2ff;
  border: 2px solid #007BFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.member-info {
  text-align: center;
  width: 30%;
  margin: 10px;
}

.member-info img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.member-info h3 {
  margin-top: 10px;
  font-size: 18px;
}

.member-info p {
  font-size: 10px;
  color: #555;
}


.logo {
  height: 80px;
}




nav {
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
  transition: color 0.3s;
}

nav a:hover {
  color: #0056b3;
}

.navigation-links {
  flex-grow: 1;
  text-align: right;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal form {
  display: flex;
  flex-direction: column;
}

.modal form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.modal form label {
  margin-bottom: 5px;
}

.modal form input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal form button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.modal form button:hover {
  background-color: #45a049;
}





nav {
  background: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
  transition: color 0.3s;
}

nav a:hover {
  color: #0056b3;
}

#logo img {
  height: 50px;
}

.navigation-links {
  flex-grow: 1;
  text-align: right;
}


/*Update header*/

.europe-header {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #000000;
  border-radius: 0% 0% 2.5% 2.5%;
}


.europe-header h1 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Playfair Display SC", serif;
}

.europe-header h2 {
  font-family: "Dancing Script", cursive;
  font-size: 120px;
  margin-top: 150px;
}

.europe {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.europe-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-row {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  width: 100%;
}

.image-container {
  position: relative;
  width: 370px;
  height: 350px;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 70px;
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  margin: 5px;
  ;
}

.image-container figcaption {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 1em;
}

.image-container.staggered {
  margin-top: 40px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}


.europe-btn {
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  padding: 12px 34px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.europe-btn:hover {
  border: 1px solid #42f548;
  background: #42f548;
  transition: 0.6s;
}

.europe hr {
  width: 80%;
  margin: auto;
  border: 2px solid #000000;
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.europe iframe {
  border: 2px solid #000000;
  margin: 0 auto;
  display: block;
}


/*---- Footer ----*/
.footer {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 40px 0;
}

.footer .copyright {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: #61656b;
}

.footer h4 {
  text-align: center;
}

.scroll-up {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
}

@media only screen and (max-width: 700px) {
  .scroll-up {
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
  }
}

/*---- Footer ----*/



/*New*/
.navigation-links ul li a:hover {
  color: #ff7f50;
  transition: color 0.3s ease;
}

/* Scroll-to-Top Button Animation */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.scroll-to-top.active {
  opacity: 1;
}