* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/*-------------- Homepage --------------*/
.header {
  min-height: 110vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-position: center;
  background-size: cover;
  position: relative;
}

.background {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.background img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 100%);
}

/* Update header */
.phenikaatravel-header {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-logo-container {
  position: relative;
  text-align: center;
}

.navbar-brand {
  text-align: center;
  flex-grow: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 36px;
}

.navbar-brand span {
  display: inline-block;
  animation: fadeIn 0.5s ease forwards;
  font-size: 40px;
}

.logo-image {
  width: 50px;
  height: auto;
  vertical-align: middle;
}

.phenikaa {
  color: rgb(14, 14, 138);
}

.travel {
  color: rgb(255, 149, 0);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.register-section {
  margin-right: 20px;
}

.register-link {

  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border: 3px solid rgb(255, 149, 0);
  border-radius: 5px;
}

.register-link {
  display: flex;
  align-items: center;
}

.icon-tuvan {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.register-link:hover {
  background-color: white;
  color: rgb(255, 149, 0);
  transition: all 0.3s ease;
}

.logo {
  height: 80px;
}


/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  padding-top: 60px;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  border-radius: 12px;
  border: 1px solid #ccc;
  width: 60%;

  max-width: 900px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  padding: 20px;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 20px;
  box-sizing: border-box;
}

.modal-content .form-section {
  margin-bottom: 15px;
}

.modal-content .form-section label {
  margin-bottom: 8px;
  display: block;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.modal-content .form-section input,
.modal-content .form-section textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin-top: 5px;
}

.modal-content .form-section input[type="radio"] {
  width: auto;
  margin-right: 10px;
}

.gender-options {
  display: flex;
  gap: 20px;
}

.gender-options label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.modal-content .register-btn {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.modal-content .register-btn:hover {
  background-color: #45a049;
}

.modal-content .image-section {
  width: 90%;
  background-size: cover;
  background-position: center;
  border-radius: 0 12px 12px 0;
  height: auto;
}

#registerModal .modal-content {
  max-width: 800px;
}

#successModal .success-content {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  background-color: #f9fff9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#successModal .success-content .close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #007BFF;
  cursor: pointer;
}

#successModal .success-content .close:hover,
#successModal .success-content .close:focus {
  color: #0056b3;
}

.success-content h2 {
  font-family: 'Arial', sans-serif;
  color: #007BFF;
  font-size: 24px;
  margin-bottom: 15px;
}

.success-content p {
  font-family: 'Arial', sans-serif;
  color: #555;
  font-size: 15px;
  margin-top: 20px;
}

.success-image {
  margin-top: 20px;
  width: 200%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



#infoModal .modal-content {
  background-color: #e6f2ff;
  border: 2px solid #007BFF;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.member-info {
  text-align: center;
  width: 30%;
  margin: 10px;
}

.member-info img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.member-info h3 {
  margin-top: 10px;
  font-size: 18px;
}

.member-info p {
  font-size: 10px;
  color: #555;
}

nav {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 10px 20px;
  transition: color 0.3s;
}

nav a:hover {
  color: #0056b3;
}

#logo img {
  height: 50px;
}

/* Navigation bar styles */
.navigation-links {
  flex-grow: 1;
  text-align: center;
  background: white;
  padding: 10px 0;
}

.navigation-links ul {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation-links ul li {
  margin: 0 15px;
}

.navigation-links ul li a {
  text-decoration: none;
  color: #000000;
  padding: 5px 10px;
  transition: color 0.3s ease;
}

/* .navigation-links ul li a:hover {
  color: #ff7f50;
} */

#mute-button {
  position: absolute;
  top: 130px;
  right: 10px;
  padding: 5px;
  background: none;
  /* Remove background color */
  border: none;
  cursor: pointer;
}

#mute-button img {
  width: 40px;
  /* Adjust size as needed */
  height: auto;
  /* Adjust size as needed */
}

#mute-button:hover img {
  opacity: 0.7;
  /* Add hover effect if needed */
}


@media only screen and (max-width: 768px) {
  .navigation-links ul {
    flex-direction: column;
    align-items: center;
  }

  .navigation-links ul li {
    margin: 10px 0;
  }
}

/* Adjustments for even smaller screens */
@media only screen and (max-width: 480px) {
  .navigation-links ul {
    flex-direction: column;
  }

  .navigation-links ul li {
    margin: 5px 0;
  }

  .navigation-links ul li a {
    padding: 5px 10px;
  }

  .homepage-text h1 {
    font-size: 35px;
  }

  .homepage-text p {
    font-size: 16px;
  }

  .homepage-btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}


/*Update header*/
/*---- Navigation Bar ----*/
.homepage-text h1 {
  font-family: "Playfair Display SC", serif;
  font-size: 5vw;
  text-shadow: -1.2px -1.2px 0 #fff, 1.2px -1.2px 0 #fff, -1.2px 1.2px 0 #fff, 1.2px 1.2px 0 #fff;
}


.homepage-text {
  width: 90%;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.homepage-btn {
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  padding: 12px 34px;
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.homepage-btn:hover {
  border: 1px solid #03bcff;
  background: #03bcff;
  transition: 0.6s;

}

/*---- Homepage - Useful Links ----*/
.links {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  font-family: "Playfair Display SC", serif;
}

.links p {
  color: #000000;
  font-size: 20px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  line-height: 22px;
  padding: 10px;
}

.links-row {
  margin-top: 5%;
}

.links-col {
  background: rgba(99, 239, 255, 0.2);
  border-radius: 10px;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
  margin: 0 10px;
  /* Add margin for spacing */
  flex: 1 1 30%;
}

.links-col a:link {
  text-decoration: none;
}

.links-col a:hover {
  color: #03bcff;
}

.links-col h3 {
  font-family: "Poppins", sans-serif;
}

.links-col p {
  font-size: 15px;
}

.links-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

.slick-prev:before,
.slick-next:before {
  color: black;
}

@media only screen and (max-width: 700px) {
  .links-row {
    flex-direction: column;
  }

  .links-col {
    margin: 10px 0;
    max-width: 100%;
    flex: 1 1 100%;
  }
}


/*---- Homepage - Useful Links ----*/


/*---- Footer ----*/
.footer {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 40px 0;
}

.footer .copyright {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
  color: #61656b;
}

.footer a:link {
  text-decoration: none;
}

.footer a:hover {
  color: #03bcff;
}

.footer hr {
  width: 75%;
  margin: auto;
}

.footer h4 {
  text-align: center;
}

.scroll-up {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
}

.clock {
  position: relative;
  width: 170px;
  height: 170px;
  border: 2px solid black;
  border-radius: 50%;
  margin: 20px;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;
}

.hour {
  width: 4px;
  height: 40px;
  background: black;
}

.minute {
  width: 2px;
  height: 60px;
  background: black;
}

.second {
  width: 1px;
  height: 70px;
  background: red;
}

.number {
  position: absolute;
  width: 100%;
  height: 100%;
}

.number div {
  position: absolute;
  width: 20px;
  text-align: center;
  transform-origin: bottom center;
  margin-top: 61.5px;
  margin-left: 74px;
}

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.clock-label {
  text-align: center;
  margin-top: 10px;
}

@media only screen and (max-width: 700px) {
  .scroll-up {
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
  }
}

/*---- Footer ----*/



/*New*/
.navigation-links ul li a:hover {
  color: #ff7f50;
  transition: color 0.3s ease;
}

/* Scroll-to-Top Button Animation */
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.scroll-to-top.active {
  opacity: 1;
}

.footer-list-social li {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  animation-delay: 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}